body{
    background-color: gray;
}

textarea{
    background-color:rgb(53, 53, 53);
    padding-left: 10px;
    padding-top: 5px;
    color:white;
    width: 97vw;
    height: 200px;
    margin-top: 1vh;
    margin-left: 1vh;
    border: none;
}
pre{
    background-color:rgb(53, 53, 53);
    color:white;
    width: 97vw;
    height: 200px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 1vh;
    margin-left: 1vh;
    border: none;
    margin-right: 0px
}
.morse-Outline{
    color:rgb(20, 20, 20);
}
.morse-Outlined{
    color:rgb(2, 219, 2);
}

div{
    font-size: 50px;
    text-align: center;
}